<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>explainX.ai - Surrogate Rule Explorer</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=".static/css/main.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>

  
  <div class="container-contact100">
		<div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/login" method="post">
				<span class="contact100-form-title">
        <img class="image-class" src="../static/explainx_logo_main.png" alt="explainx-logo-main">
        </span>
        

				<div class="wrap-input100 validate-input" data-validate="Name is required">
          <label class="label-input100" for="uname"><b>Username</b></label>
          <input class="input100" type="text" placeholder="Enter Email" name="email" required>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <label class="label-input100" for="psw"><b>Password</b></label>
          <input class="input100" type="password" placeholder="Enter Password" name="psw" required>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" type="submit">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
